<html>
  <head>
    <title>Categories</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <main>
      <h2>Categories</h2>
      <ul class="categoriesBoard">
        <% categories.forEach((category) => { %>
          <%- include('categoryCard', {category: category}); %>
        <% }); %>
        <li class="categoryCard" style="background-color: darkgrey">
          <a href="/categories/new %>">+ New Category</a>
        </li>
      </ul>    
    </main>
  </body>
</html>