<nav>
  <a href="/home">
    <h1>Movie Inventory</h1>
  </a>
  <ul class="navbar">
    <% for (let i = 0; i < links.length; i++) { %>
      <li>
        <a href="<%= links[i].href %>">
          <span> <h3><%= links[i].text %></h3> </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
