:root, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  padding: 10px;
  height: -webkit-fill-available;
}

nav {
  background-color: darkgrey;
  padding: 15px 0;
  position: sticky;
  top: 0;
  display: flex;
  gap: 30px;
  padding: 0 10px;
}

ul, li, a, span {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: -webkit-fill-available;
}

.categoriesBoard, .moviesBoard {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}

.categoryCard, .movieCard {
  cursor: pointer;
  height: 200px;
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: flex-end; 
  color: whitesmoke;
}

.categoryCard:hover, .movieCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
  transition: all 0.3s ease; 
}

.categoryCard a, .movieCard a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  padding: 10px;
}

.itemView {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.itemViewImg {
  height: 500px;
  width: 300px;
  object-fit: cover;
}

.newMovieForm {
  display: grid;
  width: 350px;
  gap: 20px;
}

button {
  width: 100px;
  justify-self: center;
}